/* header */
#header {
	background: #FFFFFF;
	padding: 15px 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
}

#header.second-header {
	padding: 8px;
    box-sizing: border-box;
    position: fixed;
	top: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 9999;
	-webkit-box-shadow: -1px 3px 28px -7px rgba(0,0,0,0.48);
	-moz-box-shadow: -1px 3px 28px -7px rgba(0,0,0,0.48);
	box-shadow: -1px 3px 28px -7px rgba(0,0,0,0.48);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	left:0;
}

.logo {
  max-width: 190px;
}


.header-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


img.notification-icon {
	margin: 0 30px;
	max-width: 38px;
	display: none;
}

.search-box {
    margin: 0 17px 0 0;
}


img.logo-small {
	margin: 20px 0;
    max-width: 139px;
}



.add-button {
	margin: 0 20px 0 0;
	background: #f1f1f1 !important;
    border-color: #191919 !important;
    color: #191919;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 4px;
    width: 113px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#header .search-div {
    height: 30px;
    width: 304px;
    position: relative;
}



#header .search-div input {
    height: 30px;
    width: 304px;
    border-radius: 8px;
    background: #FFFFFF40;
	border-color: #52575D;
}

#header .search-div input:focus {
	outline: none;
	box-shadow: none;
}


#header .search-btn {
    background: url('../../../assets_crm/img/search-icon.png') no-repeat;
    border: none;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 8px;
    background-size: contain;
}
#header .user-icon {
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

/* header */
@media screen and (max-width: 1240px) {
	#header.second-header {
		padding: 8px 0 8px 29px;
	}
}

@media screen and (max-width: 1030px) {
	#header .search-div {
		width: 164px;
	}

	#header .search-div input {
		width: 164px;
	}
}
@media screen and (max-width: 767px) {
	
	.logo {
		max-width: 50px;
		position: absolute;
	}
	
	.add-button {
		position: absolute;
		right: 15px;
		margin: 0 auto;
		max-width: 200px;
		bottom: -54px;
	}
	
	#header .search-div input {
		width: 0px;
		opacity: 0;
		transition: all 0.5s ease;
		position: absolute;
		right: 0;
	}
	
	#header .search-div:hover input,
	#header .search-div input:focus {
		width: 194px;
		opacity: 1;
	}
	
	img.notification-icon {
		margin: 0 7px;
	}

	
}

#header .dropdown {
	border-bottom: none;
	border-radius: 0;
}

#header .dropdown button {
	background: none !important;
	border: none !important;
	padding: 0 !important;
	display: flex;
	outline: none !important;
	box-shadow: none !important;
	position: relative;
	align-items: center;	
}

#header .dropdown button:after {
	display: none;
}

#header .dropdown button .fa {
	color: #191919;
    font-size: 21px;
    margin: 0 0 0 7px;
	transition: all 0.3s ease;
}

#header .dropdown.show .fa-angle-down {
	transform: rotate(-180deg);
}

#header .dropdown-menu {
	padding: 7px 0;
}
#header a.dropdown-item {
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #e5e6ed;
	padding: .5rem 10px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
}

#header a.dropdown-item:hover {
	background: #000 !important;
	color: #FFF;
}

#header a.dropdown-item:last-child {
	border: none;
}

#header .fa-power-off{
	color: #FF5151;
}
