.modal {
  z-index: 11111 !important;
}

.modal-content {
  border-radius: 10px;
  border: none;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none !important;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

input[type="text"]
{
  border: 1px solid #ebebed;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
}

.modal-content input 
{
  width: 100%;
}

.modal-content h1 {
  font-size: 33px;
  font-weight: bold;
  line-height: 1.1;
  color: #333333;
}

.modal-content .text-danger {
  margin-left: 5px;
}

.add-lead .modal-header .close{
  position: relative;
  left: 50px;
}
.cancel-btn {
  cursor: pointer;
  color: #06956e;
  text-decoration: underline;
}
.btn-wrap {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
}

.btn-wrap .btn-primary {
  padding: 9px 60px;
}

.modal-footer {
  justify-content: center;
}

@media (min-width: 576px) {
  .add-lead .modal-dialog {
    max-width: 800px;
  }
}

@media (max-width: 767px) {
  .add-lead .form-group.two-inline,
  .add-lead .form-group.three-inline {
    flex-direction: column;
  }

  .add-lead .form-group.two-inline .inputs-group,
  .add-lead .form-group.three-inline .inputs-group {
      margin: 0 0 16px;
  }
  .add-lead .form-group.three-inline .inputs-group:last-child {
    margin: 0;
  }
  .add-lead .form-group.two-inline .inputs-group {
    width: 100%;
    margin: 0 0 16px!important;
  }
  .modal-header, .modal-body, .modal-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .add-lead .modal-header .close {
    left: 0;
  }
}

/* Add Lead */
